<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org /">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
</head>
<body class="container">
<h1>Add New Courses</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" th:object="${course}">
    <table>
        <tr>
           <td><label th:for="coursename">Course Name</label></td>
            <td><input th:field="*{coursename}"/></td>
            <td></td><span th:errors="*{coursename}" class="error"></span>
        </tr>
        <tr>
            <td><label th:for="startdate">Start Date</label></td>
            <td><input th:field="*{startdate}" th:type="date"/></td>
            <td><span th:errors="*{startdate}" class="error"></span></td>
        </tr>
        <tr>
            <td><label th:for="enddate">End Date</label></td>
            <td><input th:field="*{enddate}" th:type="date"/></td>
            <td><span th:errors="*{enddate}" class="error"></span></td>
        </tr>
        <tr>
            <td><label th:for="price">Price</label></td>
            <td><input th:field="*{price}"/></td>
            <td><span th:errors="*{price}" class="error"></span></td>
        </tr>
        <tr>
            <td><label th:for="availability">Availability</label></td>
            <td><input th:field="*{availability}"/></td>
            <td><span th:errors="*{availability}" class="error"></span></td>
        </tr>
        <tr>
            <!--<label th:for="register">Register</label>-->
            <td><input th:field="*{registered}" th:type="hidden"/></td>
            <!--<span th:errors="*{register}" class="error"></span>-->
        </tr>
    </table>
    <input type="submit" value="Add Course"/>

</form>

</body>
</html>
